/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  }
  
  /* Typography */
  *{
      box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    cursor: default;
  }
  
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    list-style: none;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0px;
  }
  
  /* Typegrahy */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

  .section:not(#footer){
      padding: 50px;
      text-align: center;
  }

  .section_container{
      margin: 80px 0;
      max-width : 1200px;
      margin: auto;
  }

  /* Navbar */
 #navbar{
     position: fixed;
     display: flex;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     background-color: transparent;
     color: var(--color-white);
     padding: 16px;
     transition: all 300ms ease-in-out;
     z-index: 1;
 }

.navbar__menu{
    display: flex;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar__item:hover{
background-color: #96A5FF;
}

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

#navbar.navbar--dark{
    background-color: #0c4c89;
    padding: 8px;
}

/* 첫벉째 섹션 */
#first__section{
    background-color: #0c4c89;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.first__avatar{
    width : 560px; 
    height :315px;
    border: 2px solid var(--color-light-white);
    border-radius: 4px;
}

.fir_title,
.fir_description{
    color: var(--color-white);
}

.start__button{
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-light-white);
    border-radius: 4px;
    color: var(--color-white);
}

/* 두번째 섹션 */
#second__section{
    padding: 100px 0;
}
.introduce{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 0;
}

.first__icon img{
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 16px;
    transition: all 300ms ease;
}

.first__icon img:hover {
    transform: rotate(-30deg) scale(1.1);
}

.first_description{
    font-size: var(--font-small);
}
/* 세번째 섹션 */
#third__section{
    padding: 100px 0;
}
/* footer */
#footer{
    padding: 20px;
      text-align: center;
    background-color: #0c4c89;
}

.footer__title,
.footer__email,
.footer__rights{
    color: var(--color-white);
}

.footer__title{
    margin: 32px 0;
}

.footer__email{
    font-size: var(--font-medium);
}

.footer__links{
    font-size: var(--font-large);
    margin: 24px 0;
}

.footer__links i:hover{
    transform: scale(1.1);
    transition: all 300ms ease;
}

#third__section{
    background-color: lightblue;
}

/* scroll */
.arrow-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: white;
    background-color: blueviolet;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
}

.arrow-up.visible{
    opacity: 1;
    pointer-events: auto;
}


@media screen and (max-width: 768px){
    .navbar__toggle-btn{
        display: block;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .first__avatar{
        width: 90%;
        height: 10%;
    }

    .introduce{
        flex-direction: column;
    }

    .first{
        margin-bottom: 38px;
    }
}